<a href="https://colab.research.google.com/github/CataGimeno/challenge_telecom_X_PARTE_2_CGR/blob/main/CGR_TelecomX_LATAM_PARTE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('datos_tratados.csv')

In [10]:
df

,fuga,genero,adulto_mayor,tiene_pareja,tiene_dependentes,meses_permanencia,servicio_telefonico,lineas_multiples,servicio_internet,seguridad_en_linea,...,proteccion_dispositivos,soporte_tecnico,servicio_tv,servicio_peliculas,tipo_contrato,facturas_electronicas,metodo_pago,gastos_mensuales,gastos_totales,Cuentas_Diarias
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.186667
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,1.996667
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,No,Female,0,No,No,13,Yes,No,DSL,Yes,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,No,Male,0,No,No,2,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fuga                     7043 non-null   object
 1   genero                   7043 non-null   object
 2   adulto_mayor             7043 non-null   int64
 3   tiene_pareja             7043 non-null   object
 4   tiene_dependentes        7043 non-null   object
 5   meses_permanencia        7043 non-null   int64
 6   servicio_telefonico      7043 non-null   object
 7   lineas_multiples         7043 non-null   object
 8   servicio_internet        7043 non-null   object
 9   seguridad_en_linea       7043 non-null   object
 10  Soporte_en_linea         7043 non-null   object
 11  proteccion_dispositivos  7043 non-null   object
 12  soporte_tecnico          7043 non-null   object
 13  servicio_tv              7043 non-null   object
 14  servicio_peliculas       7043 non-null   object
 15  tipo_contrato            7043 non-null   object
 16  facturas_electronicas    7043 non-null   object
 17  metodo_pago              7043 non-null   object
 18  gastos_mensuales         7043 non-null   float64
 19  gastos_totales           7032 non-null   float64
 20  Cuentas_Diarias          7043 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.1+ MB

In [12]:
df.describe()

,adulto_mayor,meses_permanencia,gastos_mensuales,gastos_totales,Cuentas_Diarias
count,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000
mean,0.162147,32.371149,64.761692,2283.300441,2.158723
std,0.368612,24.559481,30.090047,2266.771362,1.003002
min,0.000000,0.000000,18.250000,18.800000,0.608333
25%,0.000000,9.000000,35.500000,401.450000,1.183333
50%,0.000000,29.000000,70.350000,1397.475000,2.345000
75%,0.000000,55.000000,89.850000,3794.737500,2.995000
max,1.000000,72.000000,118.750000,8684.800000,3.958333

In [18]:
# Crear un nuevo DF para dejar datos mas limpios
df_limpio = df.copy()

# === Etapa 1: Agrupar "No internet service" como "No"
cols_to_fix = [
    'seguridad_en_linea', 'Soporte_en_linea', 'proteccion_dispositivos',
    'soporte_tecnico', 'servicio_tv', 'servicio_peliculas'
]

for col in cols_to_fix:
    df_limpio[col] = df_limpio[col].replace('No internet service', 'No')

# === Etapa 2: One-hot encoding (sin dummy trap)
columnas_categoricas = [
       'fuga', 'genero', 'tiene_pareja', 'tiene_dependentes',
       'servicio_telefonico', 'lineas_multiples', 'servicio_internet',
       'seguridad_en_linea', 'Soporte_en_linea',
       'proteccion_dispositivos', 'soporte_tecnico',
       'servicio_tv', 'servicio_peliculas', 'tipo_contrato',
       'facturas_electronicas', 'metodo_pago'
]

df_codificado = pd.get_dummies(df_limpio, columns=columnas_categoricas, drop_first=True)

# ¡Listo para usar!
df_codificado.sample(20)

,adulto_mayor,meses_permanencia,gastos_mensuales,gastos_totales,Cuentas_Diarias,fuga_Yes,genero_Male,tiene_pareja_Yes,tiene_dependentes_Yes,servicio_telefonico_Yes,...,proteccion_dispositivos_Yes,soporte_tecnico_Yes,servicio_tv_Yes,servicio_peliculas_Yes,tipo_contrato_One year,tipo_contrato_Two year,facturas_electronicas_Yes,metodo_pago_Credit card (automatic),metodo_pago_Electronic check,metodo_pago_Mailed check
1648,0,3,20.00,61.70,0.666667,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,True
6296,0,72,65.60,4566.50,2.186667,False,True,False,False,False,...,True,True,True,True,False,True,True,False,False,False
3699,0,17,55.50,934.15,1.850000,False,True,False,False,True,...,False,False,False,False,False,False,True,True,False,False
1744,0,42,63.70,2763.35,2.123333,False,True,True,True,True,...,False,True,False,True,True,False,False,True,False,False
3796,0,37,61.45,2302.35,2.048333,False,True,False,True,True,...,False,True,False,False,False,True,False,True,False,False
4208,0,19,83.65,1465.75,2.788333,True,True,True,True,True,...,False,False,False,True,False,False,True,False,True,False
6933,0,3,78.50,242.05,2.616667,True,True,False,False,True,...,False,False,True,False,False,False,True,False,True,False
6003,0,72,74.35,5237.40,2.478333,False,False,True,True,True,...,True,True,False,True,False,True,True,False,True,False
388,1,60,97.95,5867.00,3.265000,False,True,True,False,True,...,True,False,True,True,True,False,True,False,True,False
244,0,65,20.40,1414.45,0.680000,False,True,True,False,True,...,False,False,False,False,False,True,True,True,False,False
4656,0,46,74.80,3548.30,2.493333,False,False,False,False,True,...,True,False,False,False,False,False,True,True,False,False
4405,1,64,43.85,2751.00,1.461667,False,False,False,False,False,...,False,True,True,False,False,False,True,False,True,False
3229,1,69,110.25,7467.55,3.675000,False,False,False,False,True,...,True,True,True,True,False,True,False,True,False,False
4218,0,72,107.50,7853.70,3.583333,False,False,False,False,True,...,True,True,True,True,False,True,True,True,False,False
5124,0,70,104.30,7188.50,3.476667,False,False,True,False,True,...,True,True,True,True,False,True,True,False,False,False
4581,1,57,69.85,4003.00,2.328333,False,False,False,False,True,...,True,True,True,False,False,True,False,False,False,False
2442,0,68,70.80,4859.95,2.360000,False,True,True,True,True,...,False,True,False,True,False,True,False,True,False,False
6650,0,72,85.10,6155.40,2.836667,False,False,True,False,True,...,True,True,True,True,False,True,False,False,False,True
3750,0,56,105.60,6068.65,3.520000,False,False,True,False,True,...,True,False,True,True,True,False,True,True,False,False
5940,0,68,100.30,6754.35,3.343333,False,True,True,False,True,...,False,True,True,True,True,False,True,False,True,False

In [14]:
df_codificado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adulto_mayor                         7043 non-null   int64
 1   meses_permanencia                    7043 non-null   int64
 2   gastos_mensuales                     7043 non-null   float64
 3   gastos_totales                       7032 non-null   float64
 4   Cuentas_Diarias                      7043 non-null   float64
 5   fuga_Yes                             7043 non-null   bool
 6   genero_Male                          7043 non-null   bool
 7   tiene_pareja_Yes                     7043 non-null   bool
 8   tiene_dependentes_Yes                7043 non-null   bool
 9   servicio_telefonico_Yes              7043 non-null   bool
 10  lineas_multiples_No phone service    7043 non-null   bool
 11  lineas_multiples_Yes                 7043 non-null   bool
 12  servicio_internet_Fiber optic        7043 non-null   bool
 13  servicio_internet_No                 7043 non-null   bool
 14  seguridad_en_linea_Yes               7043 non-null   bool
 15  Soporte_en_linea_Yes                 7043 non-null   bool
 16  proteccion_dispositivos_Yes          7043 non-null   bool
 17  soporte_tecnico_Yes                  7043 non-null   bool
 18  servicio_tv_Yes                      7043 non-null   bool
 19  servicio_peliculas_Yes               7043 non-null   bool
 20  tipo_contrato_One year               7043 non-null   bool
 21  tipo_contrato_Two year               7043 non-null   bool
 22  facturas_electronicas_Yes            7043 non-null   bool
 23  metodo_pago_Credit card (automatic)  7043 non-null   bool
 24  metodo_pago_Electronic check         7043 non-null   bool
 25  metodo_pago_Mailed check             7043 non-null   bool
dtypes: bool(21), float64(3), int64(2)
memory usage: 419.7 KB

In [15]:
df_codificado.describe()

,adulto_mayor,meses_permanencia,gastos_mensuales,gastos_totales,Cuentas_Diarias
count,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000
mean,0.162147,32.371149,64.761692,2283.300441,2.158723
std,0.368612,24.559481,30.090047,2266.771362,1.003002
min,0.000000,0.000000,18.250000,18.800000,0.608333
25%,0.000000,9.000000,35.500000,401.450000,1.183333
50%,0.000000,29.000000,70.350000,1397.475000,2.345000
75%,0.000000,55.000000,89.850000,3794.737500,2.995000
max,1.000000,72.000000,118.750000,8684.800000,3.958333

In [16]:
df_codificado.isnull().sum()

adulto_mayor                            0
meses_permanencia                       0
gastos_mensuales                        0
gastos_totales                         11
Cuentas_Diarias                         0
fuga_Yes                                0
genero_Male                             0
tiene_pareja_Yes                        0
tiene_dependentes_Yes                   0
servicio_telefonico_Yes                 0
lineas_multiples_No phone service       0
lineas_multiples_Yes                    0
servicio_internet_Fiber optic           0
servicio_internet_No                    0
seguridad_en_linea_Yes                  0
Soporte_en_linea_Yes                    0
proteccion_dispositivos_Yes             0
soporte_tecnico_Yes                     0
servicio_tv_Yes                         0
servicio_peliculas_Yes                  0
tipo_contrato_One year                  0
tipo_contrato_Two year                  0
facturas_electronicas_Yes               0
metodo_pago_Credit card (automatic)     0
metodo_pago_Electronic check            0
metodo_pago_Mailed check                0
dtype: int64

In [17]:
# Verifica valores nulos en las dos columnas
print(df_codificado[['Cuentas_Diarias', 'gastos_totales']].isnull().sum())

Cuentas_Diarias     0
gastos_totales     11
dtype: int64